<!DOCTYPE html>
<html>
<head>
  <title>POSTGRES BREAD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

</head>
<body>

  <nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" href="#">Project Management System</a></div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Project</a></li>
          <li><a href="profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="logout">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <br><br><br>
    <h1>Projects</h1>
    <h2>Filters</h2>
    <form class="" action="/search" method="get">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" name="id" id="id" placeholder="ID">
      </div>
      <div class="form-group">
        <label for="string">Name</label>
        <input type="text" class="form-control" name="string" id="string" placeholder="String">
      </div>
      <div class="form-group">
        <label for="float">Members</label>
        <input type="text" class="form-control" name="float" id="float" placeholder="Float">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>
    <h2>Option</h2>
    <h4>Column</h4>
    <form class="" action="/show" method="get">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="id" value="value id">
          ID
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="name">
          Name
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="members">
          Members
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Apply</button>
    </form>

    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Members</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% for(let i=0; i < data.length; i++){ %>
          <tr>
            <td><%= data[i].projectid %></td>
            <td><%= data[i].name %></td>
            <td><%= data[i].firstname+" "+ data[i].lastname %></td>
            <td>
              <a href="../edit/<%= data[i].id %>" class="btn btn-success">Edit</a>
              <a href="../delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>

      </table>

      <a href="../add" class="btn btn-primary">Add</a>
    </div>
  </body>
  </html>
